# Ignore everything by default
**

# Go module files
!go.mod
!go.sum

# Main package
!cmd/
!cmd/*.go

# API package
!api/
!api/v1alpha1/
!api/v1alpha1/*.go

# Controller package
!internal/
!internal/controller/
!internal/controller/*.go

# Tests are not required when building the runtime binary
**/*_test.go
